absl-py==2.3.1
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
altair==5.5.0
annotated-doc==0.0.3
annotated-types==0.7.0
anyascii==0.3.3
anyio==4.11.0
async-timeout==5.0.1
attrs==25.4.0
audioread==3.1.0
av==14.0.1
babel==2.17.0
bangla==0.0.5
blinker==1.9.0
blis==1.2.1
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
catalogue==2.0.10
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cloudpathlib==0.23.0
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.5
contourpy==1.2.1
coqpit==0.0.17
ctranslate2==4.6.0
cycler==0.12.1
cymem==2.0.11
Cython==3.1.6
dateparser==1.1.8
decorator==5.2.1
distro==1.9.0
docopt==0.6.2
dtw-python==1.4.4
einops==0.8.1
encodec==0.1.1
eng_to_ipa==0.0.2
exceptiongroup==1.3.0
fastapi==0.120.0
faster-whisper==1.2.0
ffmpeg-python==0.2.0
ffmpy==0.6.4
filelock==3.20.0
Flask==3.1.2
flatbuffers==25.9.23
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.9.0
future==1.0.0
g2pkk==0.1.2
gradio==3.48.0
gradio_client==0.6.1
grpcio==1.76.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.16.0
hangul-romanize==0.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.20.3
humanfriendly==10.0
HyperPyYAML==1.2.2
idna==3.11
importlib_resources==6.5.2
inflect==7.5.0
intel-openmp==2021.4.0
itsdangerous==2.2.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.6
jiter==0.11.1
joblib==1.5.2
jsonlines==1.2.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
langcodes==3.5.0
langid==1.1.6
language_data==1.3.0
lazy_loader==0.4
librosa==0.10.0
llvmlite==0.45.1
marisa-trie==1.3.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
mkl==2021.4.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
murmurhash==1.0.13
MyShell-OpenVoice @ git+https://github.com/myshell-ai/OpenVoice.git@74a1d147b17a8c3092dd5430504bd83ef6c7eb23
narwhals==2.9.0
networkx==2.8.8
nltk==3.9.2
noisereduce==3.0.3
num2words==0.5.14
numba==0.62.1
numpy==1.22.0
onnxruntime==1.23.1
openai==2.6.1
openai-whisper==20250625
orjson==3.11.4
packaging==25.0
pandas==1.5.3
pillow==10.4.0
platformdirs==4.5.0
pooch==1.8.2
preshed==3.0.10
proces==0.1.7
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.2
pycparser==2.23
pydantic==2.12.3
pydantic_core==2.41.4
pydub==0.25.1
Pygments==2.19.2
pynndescent==0.5.13
pyparsing==3.2.5
pypinyin==0.55.0
pyreadline3==3.5.4
pysbd==0.3.4
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
regex==2025.10.23
requests==2.32.5
resampy==0.4.3
rich==14.2.0
rpds-py==0.28.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
safetensors==0.4.2
scikit-learn==1.7.2
scipy==1.11.4
semantic-version==2.10.0
sentencepiece==0.2.1
shellingham==1.5.4
six==1.17.0
smart_open==7.4.1
sniffio==1.3.1
soundfile==0.13.1
soxr==1.0.0
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.3
srsly==2.5.1
starlette==0.48.0
SudachiDict-core==20250825
SudachiPy==0.6.10
sympy==1.14.0
tbb==2021.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
thinc==8.3.4
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.15.2
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tqdm==4.67.1
trainer==0.0.36
transformers==4.37.2
TTS==0.22.0
typeguard==4.4.4
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
umap-learn==0.5.7
Unidecode==1.4.0
urllib3==2.5.0
uvicorn==0.38.0
wasabi==1.1.3
wavmark==0.0.3
weasel==0.4.1
websockets==11.0.3
Werkzeug==3.1.3
whisper-timestamped==1.14.2
wrapt==2.0.0
yarl==1.22.0
